body {
    font-family: "soleil",sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing:1.4px;
    color: #ee3a40;
    margin: auto;
    text-align: center;

    /* Make the whole thing pink for now
    background-color: #ffffff;*/
    background-color: #fff7f8;
}

h1 {
    font-family: "abril-fatface",serif;
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 3.8px;
    text-align: center;
}

h2 {
    font-family: "soleil",sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 28px;
    border-width: 0 0 4px 0;
    border-color: #ee3a40;
    border-style: solid;
    padding-left: 4px;
    display: inline-block;
}

h3 {
    font-family: "abril-fatface",serif;
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.5px;
    margin-top: 10px;
    margin-bottom: 24px;
}

h4 {
    font-family: "abril-fatface",serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.7px;
    margin-top: 12px;
    margin-bottom: 12px;
}

p {
    line-height: 40px;
}

a {
    font-family: "soleil",sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing:1.4px;
    color: #ee3a40;
    text-decoration: none;
    border-width: 0 0 2px 0;
    border-color: #ee3a40;
    border-style: solid;
    padding-left: 1.4px;
}

.font-soleil {
    font-family: "soleil",sans-serif;
}

.font-abrilfatface {
    font-family: "abril-fatface",serif;
}

.weight-600 {
    font-weight: 600;
}
.weight-bold {
    font-weight: bold;
}

.size-16 {
    font-size: 16px;
}

.size-22 {
    font-size: 22px;
} 

.line-height-35 {
    line-height: 35px;
}

.color-black {
    color: black;
}

.pink-bg {
    background-color: #fff7f8;
    color: #ee3a40;
}

section {
    /* overflow: auto to "clear" previous floats, see https://www.sitepoint.com/clearing-floats-overview-different-clearfix-methods/ */
    overflow: auto;
}

/* https://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    background-color: #fd4167;
    /* overflow: auto so that the nav floats have proper height, see https://www.sitepoint.com/clearing-floats-overview-different-clearfix-methods/ */
    overflow: auto;
    /* use this if using inline-block method...
    white-space: nowrap; */

    /* Hiding the nav for now */
    display: none;
}

nav li {
    display: inline-block;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
}

/* Alternate solution for top nav without floats */
.half {
    display: inline-block;
    width: 50%;
    padding: 0;
} 

/* Alternate solution for top nav using left and right classes */
.left2 {
    display: inline-block;
    width: 50%;
    padding: 0;
    margin-right:-4px;
}

.right2 {
    display: inline-block;
    width: 50%;
    padding: 0;
    margin-left:-4px;
}

.left-nav {
    float: left;
    width: 50%;
    padding: 0;
}

.right-nav {
    float: left;
    width: 50%;
    padding: 0;
}

.events {
    margin-top: 75px;
}

.left-events {
    float: left;
    width: 35.5%;
    padding-left: 14%;
    margin-left:10px;
}

.right-events {
    float: left;
    width: 26%;
    padding-left: 7%;
    padding-right: 16.5%;
    border-width: 0 0 0 1px;
    border-color: #fd4167;
    border-style: solid;

}

.left-events p {
    margin-bottom: 75px;
}

.right-events p {
    margin-top: -10px;
    margin-bottom: 75px;
    line-height: 46px;
}

.left-hotels {
    float: left;
    width: 49.5%;
}

.right-hotels {
    float: left;
    width: 44.5%;
    border-width: 0 0 0 1px;
    border-color: #fd4167;
    border-style: solid;
    padding-left:5%;
}

.understroke {
    border-width: 0 0 4px 0;
    border-color: #ee3a40;
    width: 80px;
}

#our-story {
    display: none;
}

/*
.paragraph-content {
font-size:18px; 
text-transform: none;
letter-spacing: 1.5px;
} */

/* TODO see if there is a better way to have bg go 100% and content be narrower */
.width-50 {
    width: 50%;
    margin: auto;
    margin-top: 55px;
}

